@{
    ViewBag.Title = "Page Not Found";
    Layout = "_Layout";
}

<div class="container text-center py-5">
    <h1 class="display-1">404</h1>
    <p class="lead mb-4">Wayfarer, did you lost your way?</p>
    <img src="/logo.png" alt="Wayfarer Logo" class="img-fluid" style="max-width: 180px; height: auto; margin-bottom: 2rem;">
    <div>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary btn-lg mt-2 px-4">Return Home</a>
    </div>
</div>