@{
    ViewData["BodyClass"] = "container-fluid";
    ViewData["LoadLeaflet"] = true;
    var username = ViewData["Username"];
}

<span id="timeline-summary" class="small font-monospace text-muted"></span>
<div id="username" data-username="@username" hidden></div>
<!-- Map container -->
<div id="mapContainer" style="height: calc(100vh - 140px);"></div>

<!-- Location Details Modal -->
<div class="modal fade" id="locationModal" tabindex="-1" aria-labelledby="locationModalLabel" data-bs-backdrop="static">
    <div class="modal-dialog  modal-dialog-scrollable modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header text-bg-primary">
                <h5 class="modal-title" id="locationModalLabel">Location Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="modalContent"></div>
            </div>
        </div>
    </div>
</div>

<!-- Stats Details Modal -->
<div class="modal fade" id="statsModal" tabindex="-1" aria-labelledby="statsModalLabel" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header text-bg-primary">
                <h5 class="modal-title" id="statsModalLabel">Location Statistics</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="statsModalContent"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/Areas/User/Timeline/index.js" type="module"></script>
}
