@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="text-center pt-3">
    <h1>@ViewData["Title"]</h1>

    <p class="lead pt-1 fs-3">Wayfarer, does not use tracking cookies!</p>
</div>

<div class="container">

    <div class="row">
        <div class="col-md-7 mx-auto">
            <div class="pt-2 text-start fs-5" >
                <p>This website <strong>https://wayfarer.stefk.me</strong> is build for <span class="text-decoration-underline">personal use</span>, 
                    meaning registrations are not open. <br/><br/>
                    If you like what you see, you will have to self host a Wayfarer instance on your own. To do this, you will have to contact me
                    in order to discuss about gaining access to source code as the project currently is private.<br/><br/>
                    You can find ways to contact me at <a href="https://stefk.me/contact" title="Contact Stef" target="_blank">https://stefk.me/contact</a>
                    </p>
            </div>
        </div>
    </div>
</div>