@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="text-center pt-3">
    <h1>@ViewData["Title"]</h1>

    <p class="lead pt-1 fs-3">Wayfarer, does not use tracking cookies!</p>
</div>

<div class="container">

    <div class="row">
        <div class="col-md-7 mx-auto">
            <div class="pt-2 text-start fs-5" >
                <p>This instance of Wayfarer is deployed for <span class="text-decoration-underline">personal use</span>,
                    meaning registrations are not open. <br/><br/>
                    If you like what you see, you can self host a Wayfarer instance on your own. The project is open source!<br/><br/>
                    <a href="https://github.com/stef-k/Wayfarer" title="Wayfarer on GitHub" target="_blank">GitHub Repository</a> |
                    <a href="https://stef-k.github.io/Wayfarer" title="Wayfarer Documentation" target="_blank">Documentation</a>
                    </p>
            </div>
        </div>
    </div>
</div>