@{
    ViewData["Title"] = "Register";
}
<h1>@ViewData["Title"]</h1>

<p>New user registrations are currently closed. Please contact the administrator to either request an account creation or inquire about when registrations will reopen.</p>
